<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leonardo.week">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.leonardo.week.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.leonardo.week.MenuPrincipalActivity" />
        <activity android:name="com.leonardo.week.CambioFondoActivity"/>
        <activity android:name="com.leonardo.week.ContadorPersonasActivity" />
        <activity android:name="com.leonardo.week.DeteccionObjetosActivity" />
        <activity android:name="com.leonardo.week.ElegirFondoActivity" />
        <activity android:name="com.leonardo.week.NuevoFondoActivity">

        </activity>
    </application>
</manifest>
